[Unit]
Description=JieLabs Backend
After=network.target

[Service]
Type=simple
Environment="RUST_LOG=info"
WorkingDirectory=/srv/jielabsweb-backend
User=jielabs
Group=jielabs
ExecStart=/usr/bin/jielabs_backend

[Install]
WantedBy=multi-user.target

