.error {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;

  &-title {
    font-size: 32px;
    font-weight: 700;
  }

  &-subtitle {
    font-size: 18px;
    opacity: .3;
    margin-top: 10px;
  }

  &-desc {
    margin-top: 40px;
    max-width: 400px;
    text-indent: 2em;
    margin-bottom: 20px;
  }

  &-progress {
    margin-top: 20px;
    height: 5px;
    background: rgba(0,0,0,.12);
    width: calc(100% - 100px);
    max-width: 400px;

    overflow: hidden;

    &:after {
      content: ' ';
      display: block;
      height: 100%;
      width: 100%;

      background: $primary-color;

      animation: error-progress 1.5s ease infinite;

      @keyframes error-progress {
        0% {
          transform: translateX(-100%);
        }

        100% {
          transform: translateX(100%);
        }
      }
    }
  }

  &-evid {
    opacity: .18;
    position: fixed;
    bottom: 20px;
    font-size: 12px;
    left: 0;
    right: 0;
    text-align: center;
  }
}
