.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity .2s ease-out;
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  transition: opacity .2s ease-in;
  opacity: 0;
}
