@import "styles/icon.scss";
@import "styles/consts.scss";

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin rst-input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}

/* Frame */

.container {
  background: $bg;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  transition: opacity .5s ease-out;

  &.loading {
    opacity: 0;
    align-items: center;
    justify-content: center;
  }
}

header {
  height: 60px;
  box-shadow: rgba(0,0,0,.3) 0 2px 6px;

  display: flex;
  align-items: center;

  overflow: hidden;

  z-index: 1;

  .brand {
    font-size: 18px;
    color: rgba(255,255,255,.5);
    font-weight: 100;

    strong {
      color: rgba(255,255,255,.7);
      font-weight: 700;
    }

    line-height: 24px;
    padding-left: 20px;
    padding-right: 30px;
    height: 60px;
    background: rgba(255, 255, 255, .1);
    display: inline-flex;
    align-items: center;
  }

  .stub {
    height: 100%;
    font-size: 18px;
    color: white;

    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 30px;
    margin-left: -20px;
    z-index: 1;
    background: $bg;

    clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);

    cursor: pointer;

    .stub-caret {
      display: inline-block;
      border: transparent 5px solid;
      border-top: white 5px solid;
      margin-top: 5px;
      margin-left: 10px;

      opacity: .5;
      transition: opacity .2s ease;
    }

    &:hover .stub-caret {
      opacity: 1;
    }

    &.stub-disabled {
      cursor: default;
      pointer-events: none;

      .stub-caret {
        opacity: 0;
      }
    }
  }

  .shifter {
    transition: transform .5s ease-out;
    &.shifted {
      transform: translateX(100%);
      transition: transform .5s ease-in;
    }

    .logout {
      padding: 0 20px 0 30px;
      height: 60px;
      display: flex;
      align-items: center;
      clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
      background: rgba(255, 255, 255, .1);

      cursor: pointer;

      .material-icons {
        color: white;
        opacity: .7;
        transition: opacity .2s ease;
      }

      &:hover .material-icons {
        opacity: 1;
      }
    }
  }
}

.spanner {
  flex: 1;
}

main {
  flex: 1;

  &.centering {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Input */
.input {
  position: relative;

  .input-label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    color: rgba(255,255,255,.38);
    line-height: 28px;
    padding: 0 16px;
  }

  input {
    @include rst-input;
    line-height: 20px;
    font-size: 18px;
    padding: 24px 16px 10px 16px;
    background: rgba(255,255,255,.1);
    color: white;
    width: 100%;
  }
}

/* Login */
.login-box {
  position: relative;
  padding-right: 128px + 20px;

  .login-input {
    width: 240px;
  }

  .login-spanner {
    height: 20px;
  }

  .login-button {
    @include rst-input; 
    position: absolute;
    width: 128px;
    height: 128px;
    right: 0;
    top: 0;
    background: $primary-color;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(1);
    transition: filter .4s ease;

    &:not(:disabled) {
      cursor: pointer;
      filter: none;
    }

    &.errored {
      filter: hue-rotate(360deg-(hue($primary-color)));
    }

    .login-icon {
      font-size: 60px;
      color: white;
      opacity: .7;
      transition: opacity .2s ease;
    }

    &:hover:not(:disabled) .login-icon {
      opacity: 1;
    }
  }
}
