.global-loading {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 0;

  .slider-wrapper {
    font-size: 30px;
    color:#aaa;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  .slider{
    height: 50px;
    padding-left:15px;
    overflow: hidden;
  }
  .slider div {
    color:#fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
  }
  .slider-text1 {
    background: lightgreen;
    animation: slide 20s linear infinite;
  }
  .slider-text2 {
    background: skyblue;
  }
  .slider-text3 {
    background: lightcoral;
  }
  .slider-text4 {
    background: royalblue;
  }
  .slider-text5 {
    background: brown;
  }
  .slider-text6 {
    background: yellowgreen;
  }
  .slider-text7 {
    background: plum;
  }
  .slider-text8 {
    background: sandybrown;
  }
  .slider-text9 {
    background: rosybrown;
  }
  .slider-text10 {
    background: lawngreen;
  }
  @keyframes slide {
    0% {margin-top:-1000px;}
    3% {margin-top:-900px;}
    10% {margin-top:-900px;}
    13% {margin-top:-800px;}
    20% {margin-top:-800px;}
    23% {margin-top:-700px;}
    30% {margin-top:-700px;}
    33% {margin-top:-600px;}
    40% {margin-top:-600px;}
    43% {margin-top:-500px;}
    50% {margin-top:-500px;}
    53% {margin-top:-400px;}
    60% {margin-top:-400px;}
    63% {margin-top:-300px;}
    70% {margin-top:-300px;}
    73% {margin-top:-200px;}
    80% {margin-top:-200px;}
    83% {margin-top:-100px;}
    90% {margin-top:-100px;}
    93% {margin-top:0px;}
    100% {margin-top:0px;}
  }
}

.loading {
  width: 40px;
  height: 40px;
  position: relative;

  border: #121212 5px solid;
  box-sizing: border-box;
  border-radius: 100%;

  &:before, &:after {
    content: '';
    position: absolute;

    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;

    border-radius: 100%;
    border: transparent 5px solid;
  }

  &:before {
    border-top-color: #FFC738;
    animation: rotate infinite ease 3.5s;
  }

  &:after {
    border-bottom-color: #57FFF2;

    animation: rotate infinite linear 3s;

    mix-blend-mode: exclusion;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(720deg);
    }
  }

}
